@import 'src/styles/core/variables';

.login-wrapper {
  height: 100%;
}

mat-card {
  max-width: 250px;
  background: $fc-light-container;
  border-radius: 10px;
  opacity: 1;
  padding: 60px 50px;
  width: 100%;
}

.mat-stroked-button {
  border: 1px solid currentColor;
}