/* You can add global styles to this file, and also import other style files */
@import 'reset';
@import 'styles/theme';

html, body { height: 93%; }
body { margin: 0; font-family: Open Sans Regular, sans-serif; }



section {
  margin: 5% 0;
}

button {
 height: 6em;
 width: 7em;
 &.p.large {
  color: white;
 }
}

@media screen and (max-width: 768px) {
  button {
    height: 4em;
    width: 5em;
    &.p.large {
      color: white;
    }
  }
}