/* You can add global styles to this file, and also import other style files */
@import 'reset';
@import 'styles/theme';
@import 'styles/common/loading-indicator';
@import 'styles/common/notification-colors';

html, body { height: 93%; margin: 0; padding: 0;}
body { margin: 0; font-family: Open Sans Regular, sans-serif; background-color: #fafafa;}

section {
  margin: 5% 0;
}

button {
 height: 6em;
 width: 7em;
 &.p.large {
  color: white;
 }
}

[hidden] {
  color: transparent;
}

.disable-click {
  pointer-events: none;
  cursor: default;
}