.section-container {
  margin: auto 1em;
}

.item-margin {
  margin: 0 12px;
}

.layout-sidenav {
  padding: 20px;
  &.sidenav {
    width: 22em;
    a {
      display: block;
      padding: 6px 24px;
      width: 100%;
      text-align: left;
    }
  }
}
